@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	font-family: 'Source Serif Pro', serif;
}

.container > p{
	@apply m-auto font-medium;
}

#heading{
	letter-spacing: 0.8em;
}

svg{
	width: 1em;
	height: 1em;
	fill: black;
}